@import '~include-media/dist/_include-media.scss';


@include media(">=tablet") {
    .text-edit-card {
        max-width: 500px;
        max-height: 90vh;
        width: 500px;
    }
}

@include media("<tablet") {
    .text-edit-card {
        max-width: 95vw;
        max-height: 95vh !important;
        width: 95vw;
    }
}