.question-text {
    margin: 0.5rem;
}

.question-separator {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.answer-container {
    padding-left: 2rem;
}

.question-edit-icon {
    cursor: pointer;
}